ShearKelvinHelmholtz.npy
NonRelativisticISsmoothIC.npy
NonRelativisticIS.npy
NonRelativisticISRotatingBall.npy
NonRelativisticISgamma1.npy
NonRelativisticISgamma2.npy
NonRelativisticISRotatingBallWithShock.npy
NonRelativisticISWithShock.npy