ShearKelvinHelmholtz.npy
NonRelativisticISsmoothIC.npy
NonRelativisticIS.npy
NonRelativisticISRotatingBall.npy
NonRelativisticISgamma1.npy
NonRelativisticISgamma2.npy
NonRelativisticISRotatingBallWithShock.npy
NonRelativisticISWithShock.npy
NonRelativisticISHeuns.npy
NonrelativisticISwithsmoothIC.csv
NonRelativisticISRotatingbumpfunction.npy
density_solution.csv
momentx_solution.csv
momenty_solution.csv
Pixx_solution.csv
Pixy_solution.csv
Piyx_solution.csv
Piyy_solution.csv
Pi_solution.csv